/* Your styles here */
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  background-color: #212e3e;
  color: #e2e2e5;
}

a {
  font-size: 0.8rem;
  color: #0a87b1;
  font-weight: 750;
  text-decoration: none;
}

nav a {
  padding-inline: 0.6rem;
  color: #e3edf2;
  text-decoration: none;
  font-weight: 520;
}

main {
  padding-block: 1.8rem;
  padding-inline: 1.8rem;
  background-color: #e8eced;
}

main div h3 {
  font-size: 2rem;
  padding-block: 2rem;
}

section {
  text-align: start;
  background-color: white;
}

h5 {
  color: black;
  font-weight: 600;
  font-size: 1rem;
  display: inline;
}

.banner {
  margin-block: 1.8rem;
  padding-block: 2.5rem;
  font-weight: 700;
  background-image: url(../images/bg-image.png);
  background-size: 85%;
  background-position: start;
  /* background-repeat: repeat-y; */
}
.orange_bar {
  background-color: #f66407;
  padding-block: 0.5rem;
  color: #f2e9e2;
  font-size: 0.9rem;
}

.light_white {
  background-color: #eaeded;
}

.light_blue {
  background-color: #354658;
}

.text-center {
  text-align: center;
}

.small-padding {
  padding-block: 0.5rem;
  padding-inline: 1.8rem;
}
